@model List<Banner>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="margin-top:10px;">
    <div class="row">
        <h4>Banner Ekle</h4>
        <hr />
        <form method="post">
            @foreach (var item in Model.Take(1))
            {
                <div class="form-group">
                </div>
                <div class="form-group">
                    <label asp-for="@item.Title1" class="control-label">Başlık</label>
                    <input asp-for="@item.Title1" class="form-control" value?="@item.Title1" />
                </div>
                <div class="form-group">
                    <label asp-for="@item.Title2" class="control-label">Başlık</label>
                    <input asp-for="@item.Title2" class="form-control" value?="@item.Title2" />
                </div>
                <div class="form-group">
                    <label asp-for="@item.Description" class="control-label">Başlık</label>
                    <input asp-for="@item.Description" class="form-control" value?="@item.Description" />
                </div>
                <div class="form-group">
                    <input style="margin-top:10px;" type="submit" value="Değişikliği Kaydet" class="btn btn-primary" />
                </div>
            }
        </form>
    </div>
</div>
