@model List<OurService>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <h4>Servis Ekle</h4>
        <hr />
        <form class="form-group" method="post">
            @foreach (var item in Model)
            {
                <div class="form-group">
                    <label asp-for="@item.Description" class="control-label">Başlık</label>
                    <input asp-for="@item.Description" class="form-control" value="@item.Description" />
                </div>
                <div class="form-group">
                    <label asp-for="@item.Services" class="control-label">Başlık</label>
                    <input asp-for="@item.Services" class="form-control" value="@item.Services" />
                </div>

                <div class="form-group">
                    <label asp-for="@item.ImageUrl" class="control-label">Başlık</label>
                    <input asp-for="@item.ImageUrl" class="form-control" value="@item.ImageUrl" />
                </div>

                <br />
                <div class="form-group">
                    <input type="submit" value="Değişikliği Kaydet" class="btn btn-primary" />
                </div>
            }
        </form>
    </div>
</div>
